workflows/agentpool-notifications.json
{
  "name": "AgentPool Notifications",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agentpool",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "agentpool-webhook"
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
                "conditions": [
                  {
                    "id": "rule-hitl",
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "hitl_review",
                    "operator": {"type": "string", "operation": "equals", "name": "filter.operator.equals"}
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "hitl_review"
            },
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
                "conditions": [
                  {
                    "id": "rule-notify",
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "crew_notification",
                    "operator": {"type": "string", "operation": "equals", "name": "filter.operator.equals"}
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "crew_notification"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "post",
        "channel": "={{ $json.reviewer_slack_id || $json.project_slug }}",
        "text": "=*Review needed for {{ $json.project_slug }}*\n\n{{ $json.prompt }}\n\n→ {{ $json.review_url }}",
        "otherOptions": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Slack HITL DM",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [680, 200],
      "credentials": {
        "slackOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "AgentPool Slack"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "post",
        "channel": "={{ $json.slack_channel }}",
        "text": "={{ $json.message }}",
        "otherOptions": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Slack Channel Notify",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [680, 400],
      "credentials": {
        "slackOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "AgentPool Slack"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": true}"
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{"node": "Switch", "type": "main", "index": 0}]
      ]
    },
    "Switch": {
      "main": [
        [{"node": "Slack HITL DM", "type": "main", "index": 0}],
        [{"node": "Slack Channel Notify", "type": "main", "index": 0}]
      ]
    },
    "Slack HITL DM": {
      "main": [
        [{"node": "Respond 200", "type": "main", "index": 0}]
      ]
    },
    "Slack Channel Notify": {
      "main": [
        [{"node": "Respond 200", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "sp4c-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
